# Copy this file to terraform.tfvars and update the values

# AWS Configuration
region = "us-east-1"
availability_zone = "us-east-1a"
aws_profile = "AWSPowerUserAccess-NUMBER"  # Update with your actual profile

# SSH Configuration 
ssh_public_key_path = "~/.ssh/fleetscale.pub"
ssh_private_key_path = "~/.ssh/fleetscale"
ssh_user = "root"
ssh_bastion_user = "root"
ssh_prefix_list = "public"

# Project Configuration
project_name = "fleet-standalone"

# Instance Configuration
bastion_host_ami = "ami-04effc0585c8f1e3e"  # openSUSE-Leap-15-6-v20250408-hvm-ssd-arm64
bastion_host_instance_type = "t4g.xlarge"

# Upstream Cluster Configuration
upstream_cluster = {
  server_count = 3
  agent_count = 1
  distro_version = "v1.33.4+rke2r1"
  public_ip = false
  reserve_node_for_monitoring = false
  enable_audit_log = false
  node_module_variables = {
    instance_type = "c5d.12xlarge"
    ami = "ami-02889b173d15868e5"  # openSUSE-Leap-15-6-v20250408-hvm-ssd-x86_64
    root_volume_size_gb = 20
  }
  postgres_node_variables = {}
  etcd_node_variables = {
    instance_type = "m6id.4xlarge"
    ami = "ami-085386e29e44dacd7"  # Amazon Linux 2 Kernel 5.10 AMI
    root_volume_size_gb = 50
  }
}

# Downstream Cluster Configuration
downstream_cluster_templates = [
  {
    # 1024 is max, but this block can be repeated
    cluster_count = 50
    server_count = 1
    agent_count = 0
    distro_version = "v1.33.4+k3s1"
    public_ip = false
    reserve_node_for_monitoring = false
    enable_audit_log = false
    max_pods = 110
    node_cidr_mask_size = 24
    node_module_variables = {
      instance_type = "t4g.large"
      ami = "ami-04effc0585c8f1e3e"  # openSUSE-Leap-15-6-v20250408-hvm-ssd-arm64
      root_volume_size_gb = 20
    }
  }
]

# Port Configuration
first_kubernetes_api_port = 7445
first_app_http_port = 9080
first_app_https_port = 9443
